.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    border: 4px solid #1454de;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin_51 0.5s infinite linear;
}

@keyframes spin_51 {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}